---
import Info from "../cards/Info.astro";
import Container from "../shared/Container.astro";
import Paragraph from "../shared/Paragraph.astro";
import Title from "../shared/Title.astro";

---

<section id="about-us">
    <Container className="flex flex-col midmd:flex-row gap-10 lg:gap-12">
        <div class="max-w-md mx-auto midmd:max-w-none lg:mx-0  lg:pr-10 xl:pr-2 flex-1 flex w-11/12 midmd:w-5/12 lg:w-1/2 midmd:h-auto">
            <div class="w-full h-80 sm:h-96 midmd:h-full relative">
                <div class="absolute rotate-45 -left-5 md:-left-10 lg:-left-20 xl:-left-24 p-1 top-1/2 w-16 h-16 bg-gradient-to-br from-primary to-orange-400 blur-3xl opacity-50"></div>
                <div class="absolute  p-1 -top-4 md:-top-10 right-0 w-20 h-20 bg-gradient-to-br from-primary to-orange-400 rounded-full blur-3xl opacity-60"></div>
                
                <span class="absolute w-full aspect-[16/5] -skew-x-12 rounded-full bg-gradient-to-tr from-primary to-green-400 opacity-40 blur-2xl left-0 bottom-0"></span>
                <img src={"/images/Creadores de ideas.png"} alt="banner image" 
                width="1240" height="1385"
                class=" w-auto left-1/2 -translate-x-1/2 absolute bottom-0 max-h-full" />
            </div>
        </div>
        <div class="flex-1 flex midmd:w-7/12 lg:w-1/2 flex-col">
            <Title>
                Somos creadores de ideas
            </Title>
            <Paragraph className="mt-8">
                Somos una agencia de marketing y publicidad dedicada a potenciar la presencia y la identidad de tu marca en el mundo digital.

                Nos enfocamos en desarrollar estrategias efectivas de comunicación generando impacto y valor en el consumidor, ofreciendo calidad en nuestros servicios y asumiendo responsabilidad y dedicación para responder a sus necesidades.
            </Paragraph>
            <div class="pt-8 grid grid-cols-2 items-center gap-4 max-w-3xl md:max-w-[none]">
                <Info description="Transformar ideas en resultados asombrosos, potenciando la presencia y la identidad de las marcas en el mundo digital a través de estrategias innovadoras y colaborativas." title="Mission">
                    <span slot="icon">
                        <img src="/images/ICONO Mision.png" alt="Icono de Misión" class="w-12 h-12 sm:w-24 sm:h-24" />                            
                    </span>
                </Info>
                <Info description="Ser líderes reconocidos en el marketing digital, ofreciendo soluciones excepcionales que impulsen el éxito de nuestros clientes y nos mantengan a la vanguardia de la industria." title="Vision">
                    <span slot="icon">
                        <img src="/images/ICONO Vision.png" alt="Icono de Vision" class="w-12 h-12 sm:w-24 sm:h-24" />  
                    </span>
                </Info>
            </div>
        </div>
    </Container>
</section>