---
import Layout from '../layouts/Layout.astro';

import AboutUs from '../components/sections/AboutUs.astro';

---

<Layout title="Nuestro Equipo">
	<main class="flex flex-col gap-y-20 md:gap-y-32 overflow-hidden">

        <br>
		<AboutUs/>
	</main>
</Layout>